*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
}

nav{
    background-color: #FFFFFF;
    border: 1px solid gray;
    position: sticky;
    top: 0px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    margin: 0 auto;
    padding: 24px 0px;
}

ul{
    display: flex;
    gap: 24px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    line-height: 25px;
}
a:hover{
    color: #1D4ED8;
}

.main-btn{
    background-color: #1D4ED8;
    padding: 12px 41px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    line-height: 24px;
}

/* hero section style */

.header-container{
     background-image: linear-gradient(
        to right,
        rgba(0,0,0,.80) 0%,
        rgba(0,0,0,.45) 25%,
        rgba(0,0,0,.15) 50%,
        rgba(0,0,0,.05) 70%
    ),

    linear-gradient(
        to bottom,
        rgba(0,0,0,.30) 0%,
        rgba(0,0,0,.05) 40%,
        rgba(0,0,0,.40) 100%
    ), url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.hero-details{
    padding-top: 136px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title, .hero-bio{
    color: white;
    text-align: center;
}

.hero-title{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -3.2px;
    line-height: 80px;
    margin-bottom: 20px;
}

.hero-bio{
    font-size: 22px;
    line-height: 24px;
    color: rgb(238, 238, 238);
    margin-bottom: 20px;
}